
#
# Module configuration file for
# MiloProject
# (com.mycompany.miloproject)
#

displayname: MiloProject
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
depends: com.eqela.libtextinputwidget
depends: com.eqela.libselectorwidget
depends: com.eqela.libdialogwidget
depends: com.eqela.libpopupwidget
depends: com.eqela.libapplicationdata